<mat-card>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{ pageTitle }}</mat-card-title>
    <mat-card-subtitle>{{ pageSubTitle }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="text-center"><img src="./assets/images/logo.png" alt="logo.png" class="welcome-image" /></div>

    <div class="text-center">Developed by:</div>
    <div class="text-center">
      <h3>Matthew Lonis</h3>
    </div>

    <div class="text-center">@mrlonis</div>
    <div class="text-center">
      <a href="https://github.com/mrlonis">https://github.com/mrlonis</a>
    </div>
  </mat-card-content>
</mat-card>
