# Add files here to ignore them from prettier formatting

**/.angular
**/.next
/coverage
/dist
/junit
/node_modules
/storybook-static
/tmp
/documentation.json
/package-lock.json
/yarn.lock
/test-reports
