.center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

.router-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
