<mat-card class="characters-card">
  <mat-card-content>
    <mat-grid-list cols="4">
      <mat-grid-tile *ngFor="let character of (characters | async)?._embedded?.data ?? []">
        <table class="character-display-table" [routerLink]="['/characters', character.name]">
          <tr>
            <td class="character-display-cell">
              <img [alt]="character.imageUrl" [src]="this.imageApiService.getImageUrl(character.imageUrl)" />
              <p>{{ character.name }}</p>
            </td>
          </tr>
        </table>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
