.character-detail-card {
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
.character-display-table {
  width: 100%;
}
.character-display-cell {
  text-align: center !important;
  vertical-align: middle !important;
}
