<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ 'Name: ' + hero?.name }}</mat-card-title>
    <mat-card-subtitle>
      <table>
        <tr>
          <td>Faction: {{ faction?.name }}</td>
        </tr>
        <tr>
          <td>Rarity: {{ rarity?.name }}</td>
        </tr>
        <tr>
          <td>Type: {{ type?.name }}</td>
        </tr>
      </table>
    </mat-card-subtitle>
  </mat-card-header>
  <div *ngIf="this.hero !== undefined">
    <img
      mat-card-image
      [src]="this.getImageUrl()"
      [title]="hero.name"
      [style.width.px]="150"
      [style.margin.px]="2"
      alt="hero.name image"
    />
  </div>
  <mat-card-content>TODO</mat-card-content>
  <mat-card-actions>
    <button type="button" mat-button (click)="onBack()">Back</button>
  </mat-card-actions>
</mat-card>
